@mixin flexBox($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flexAlign($alignItems, $justifyContent) {
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin dataRowCount {
    @for $i from 1 through 24 {
        [data-row-count="#{$i}"] {
            .data_row {
                width: calc(100% / #{$i});
            }
        }
    }
}

@for $i from 1 through 24 {
    [data-row-count="#{$i}"] {
        .data_row {
            width: calc(100% / #{$i});
        }
    }
}

.row {
    @include boxSizing;

    position: relative;
    width: 100%;
    margin: 0;

    @include dataRowCount;

    &.full {
        width: 100%;
        height: 100%;
    }

    &.horizontal {
        @include flexBox(row);

        &.v_center {
            @include flexAlign(center, flex-start);
        }

        &.h_center {
            @include flexAlign(flex-start, center);
        }

        &.end {
            @include flexAlign(center, flex-end);
        }

        &.bottom {
            @include flexAlign(flex-end, center);
        }

        &.bottom_left {
            @include flexAlign(flex-end, flex-start);
        }

        &.bottom_right {
            @include flexAlign(flex-end, flex-end);
        }

        &.space {
            justify-content: space-between;
        }
    }

    &.vertical {
        @include flexBox(column);

        &.v_center {
            @include flexAlign(flex-start, center);
        }

        &.h_center {
            @include flexAlign(center, flex-start);
        }

        &.end_right {
            @include flexAlign(flex-end, flex-end);
        }

        &.end_left {
            @include flexAlign(flex-end, flex-start);
        }

        &.end {
            @include flexAlign(flex-end, center);
        }
    }

    &.normal {
        @include flexAlign(flex-start, flex-start);
    }

    &.center {
        @include flexAlign(center, center);
    }

    &.half {
        width: 50%;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.space {
        justify-content: space-between;
    }

    &.inset {
        @include boxSizing;

        padding: 1rem;
    }

    &.static {
        width: auto;
    }
}