@font-face {
    font-family: 'handy';
    src:  url('../font/handy.eot?dtz4i0');
    src:  
      url('../font/handy.eot?dtz4i0#iefix') format('embedded-opentype'),
      url('../font/handy.ttf?dtz4i0') format('truetype'),
      url('../font/handy.woff?dtz4i0') format('woff'),
      url('../font/handy.svg?dtz4i0#handy') format('svg');
    src: url("../font/handy.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }