$h1FontSize: 1.85rem;
$white: #fff;
$darkGray: #37424C;
$dark: #37424C;
$red: #dc222a;
$blue: #2287DC;
$green: #1fc66b;
$lightGreen: #36f88d;
$defaultGray: #999;
$landGray: #C9CCCF;
$lightGray: #EEEFEF;
$riceWhite: #f9f9f9;
$gray: #d9d9d9;
$carrotOrange: #eb7428;
$manatee: #92989E;
$bgColor_lv1: linear-gradient(to right, #EB7428, #DC222A);
$bgColor_lv2: #1B2733;

//screen
$wideScreen: "only screen and(min-width: 1920px) and (min-height: 1024px) and (orientation: landscape)";
$largeScreen: "only screen and(max-width: 1920px) and(min-width: 1680px) and (max-height: 1080px) and (min-height: 1050px) and (orientation: landscape)";

//main page