@import "_variable.scss";
@import "_flexbox.scss";
@import "_dataAttribute.scss";
@import "_mediaQueries.scss";


/* col width */
@for $i from 1 through 20 {
  [data-width="#{$i * 5}"] {
    width: #{$i * 5 + '%'};
  }
}

/* vertical-align */
$vertical-align: ['top', 'middle', 'bottom'];
@each $v-align in $vertical-align {
  .v-align-#{$v-align} {
    vertical-align: #{$v-align};
  }
}

/* flexbox */
@mixin flexBox($direction, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
}



html {
  touch-action: manipulation;
  height: 100%;

  body {
    font-family: "icomoon", "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    touch-action: manipulation;
    height: 100%;
    background-color:#093B2C;
    letter-spacing: 1px;
  }
}

.outer {
  @include flexBox(column,space-between);
  height: 100%;
}

.header {
  @include flexBox(row,space-between);
  width: 100%;
  height:45px;
  background: url(../img/header/bg-header.svg) repeat-x;
  padding:10px;

  [class^="icon-"], [class*=" icon-"], span {
    color: #FADC91;
  }

  .ic {
    img {cursor:pointer;}
  }

  .ic-group {
    @include flexBox(row,flex-end);
    
    .ic {
      margin: 0 30px;
    }
    .ic:last-child {
      margin: 0;
    }
  }

}


.container {
  flex: 1;
  overflow-y: auto;

  .submenu {
    @include flexBox(row,space-between);
    padding: 10px;
    text-align: center;
    font-size: 12px;
    color: #F1F1F1;
    background: rgb(9,59,44);
    background: linear-gradient(90deg, rgba(9,59,44,0) 0%, rgba(9,59,44,1) 25%, rgba(29,106,83,1) 50%, rgba(9,59,44,1) 75%, rgba(9,59,44,0) 100%);
  }

  div {
    position: relative;
  }

  .new {
    &::before {
      position: absolute;
      left: 0;
      content: "";
      width: 12px;
      height: 16px;
      background: url(../img/home/badge_submenu.svg) no-repeat;
    }
  }

  div.collection:nth-child(2n) {
    padding-top: 0;
    padding-bottom: 0;
  }
  div.collection:last-child {
    padding-bottom: 10px;
  }

  .collection {
    @include flexBox(column,null);
    padding: 10px;
    

    &.reverse {
      flex-direction: column-reverse;

      .item {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    .cover {
      position: relative;
      @include flexBox(row,center);
      align-items: center;

      &.btn-play {
        &::before {
          position: absolute;
          content:"";
          width: 45px;
          height: 45px;
          background: url(../img/home/btn-play.svg) no-repeat center;
          cursor: pointer;
          transition: all .2s ease-out;
        }
  
        &:active {
          &::before {
            transform: scale(.8);
          }
        }
      }
    }
    
    .item {
      display: flex;
      margin-top: 10px;

      img {
        padding-left:5px;
        padding-right:5px;

        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
     }
  }
}

.footer {
  @include flexBox(row,space-between);
  padding: 10px;
  height: 45px;
  background-color: #174c3d;

  [class^="icon-"], [class*=" icon-"], span {
    color: #FADC91;
    font-weight: 500;
    text-transform:uppercase;
    letter-spacing: 0;
  }
}

$iconSetFooter: 'brand', 'contact', 'lookbook';

@each $footerIcon in $iconSetFooter {

  .footer {

    .#{$footerIcon} {
      padding-left: 30px;
      width: 33%;
      height: 25px;
      font-size: 15px;
      color: #FADC91;
      line-height: 1.6;
      letter-spacing: 0;
      background: url('../img/footer/ic-#{$footerIcon}.svg') no-repeat left center;
      cursor: pointer;

      &::before {
        content:'#{$footerIcon}';
        text-transform:uppercase;
      }
    }

  }

}
