@import "_variable.scss";
@import "_flexbox.scss";
@import "_dataAttribute.scss";
@import "_mediaQueries.scss";

img {width: 100%;}

html {
  touch-action: manipulation;
  height: 100%;

  body {
    font-family: "handy", "pattale", "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
    touch-action: manipulation;
    height: 100%;
    background-color:#093B2C;
    background: url(../img/bg.jpg) no-repeat center;
    background-size: cover;
  }
}

.outer {
  height: 100%;
  overflow: hidden;

  .top_menu {
    height: 22vh;

    .userInfo {
      position: relative;
      padding: 1rem .5rem;
      background: url(../img/user_status_bg.png) no-repeat;
      background-size: contain;
      color: #fff;

      .avatar {
        width: 4vw;
        border-radius: 100rem;
      }

      .bling {
        position: absolute;
        bottom: -3vh;
        left: 0;

      }
    }

    .coinZone {
      position: relative;
      width: 20vw;
      height: 8vh;
      border-radius: 100rem;
      background: rgb(0,60,105);
      background: linear-gradient(180deg, rgba(2,75,130,0.8) 0%, rgba(2,75,130,0.8) 50%, rgba(0,58,101,0.8) 50%, rgba(0,58,101,0.8) 100%);
      border: #036EB7 solid 1px;
      margin: 3%;
      padding: 2%;
      padding-left: 5%;
      color: #fff;
      font-weight: 700;
      font-size: 2rem;

      img {
        width: 10vh;
        position: absolute;
        left: -5%;
        top: -8%;
      }
    }
  }

  .container {
    position: relative;
    flex: 1;
    
    .dailyGift {
      position: absolute;
      top: -10vh;
      width: 20%;

      .giftItem {
        position: relative;
        height: 12vh;
        margin: 4px 0;
        padding: 2rem .5rem;
        background: url(../img/quest_bg.png) no-repeat;
        background-size: cover;
  
        .tip {
          width: auto;
          height: 30px;
        }
  
        .deco {
          width: 3.5vw;
          margin-right: 4px;
        }
  
        .fish {
          position: absolute;
          top: 1vh;
          right: -1vw;
          width: 5rem;
        }
      }
    }

    .gameType {
      position: absolute;
      width: 70%;
      right: 2%;
      top: 4vh;
    }
  }

  .footer {

    .chatLog {
      display: flex;
      position: relative;
      padding: 4px;
      border: #05446f solid 1px;
      background-color: rgba(13, 53, 81, 0.5);
      color: #fff;
      font-size: 14px;

      .warning {
        min-width: 3vw;
        margin-right: 6px;
        border-radius: 4px;
        background: #f27a00;
        background: linear-gradient(0deg, #f27a00 0%, #f2ce00 100%);
        color: #fff;
        text-shadow: 0 2px 1px #000;
        text-align: center;
        line-height: 1.8;
      }

      .error {
        min-width: 3vw;
        margin-right: 6px;
        border-radius: 4px;
        background: rgb(255,51,13);
        background: linear-gradient(0deg, rgba(255,51,13,1) 0%, rgba(255,97,51,1) 100%);
        color: #fff;
        text-shadow: 0 2px 1px #000;
        text-align: center;
        line-height: 1.8;
      }

      .info {
        min-width: 3vw;
        margin-right: 6px;
        border-radius: 4px;
        background: rgb(32,119,255);
        background: linear-gradient(0deg, rgba(32,119,255,1) 0%, rgba(94,185,255,1) 100%);
        color: #fff;
        text-shadow: 0 2px 1px #000;
        text-align: center;
        line-height: 1.8;
      }

      .setting {
        width: 4vw;
        margin-left: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      



    }

    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin-top: 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
    }
    
    input[type=text]:focus {
      border: 3px solid #555;
    }


  }
}


